<h1>My Friend's Entries</h1>


<div class="header-actions">
  <%=  link_to 'My entries', entries_path , class: 'new-entry-button' %>
  <%=  link_to 'Dashboard', dashboard_index_path , class: 'new-entry-button' %>

</div>

<div class="entries-container">
  <% @entries.each do |entry| %>
    <div class="entry-card">
      <h3><strong>User:</strong> <%= entry.user.email %></h3>
      <p><strong>Entry:</strong> <%= entry.text.truncate(50) %></p>

      <div class="entry-actions">
        <%= form_with model: Reaction.new, url: reactions_path, local: true do |form| %>
          <%= form.hidden_field :entry_id, value: entry.id %>
          <%= form.text_area :emote, placeholder: "Add your reaction", class: 'reaction-input' %>
          <%= form.submit "React", class: 'action-button react-button' %>
        <% end %>
      </div>

      <div class="entry-reactions">
        <% entry.reactions.each do |reaction| %>
          <p><strong><%= reaction.user.email %>:</strong> <%= reaction.emote %></p>
        <% end %>
      </div>
    </div>

    <% entry.comments.each do |comment| %>
      <p>
        <strong><%= comment.user.email %>: </strong>
        <%= comment.text %>
      </p>

    <%end%>
    <%= link_to 'Comment', new_entry_comment_path(entry), class: "btn btn-primary" %>

  <% end %>
</div>
