<%= form_with url: add_friend_friendships_path, method: :post do |f| %>
  <%= f.label :email, "Add Friend by Email" %>
  <%= f.text_field :email %>
  <%= f.submit "Add Friend" %>
<% end %>

<% @friends.each do |friend| %>
  <p>
    <%= friend.user.email %>
    <%= button_to "Remove Friend", remove_friend_friendships_path(email: friend.user.email), method: :delete %>
  </p>
<% end %>

<%= form_with url: search_friendships_path, method: :get, local: true do |f| %>
  <%= f.label :query, "Search for friends" %>
  <%=f.text_field :query, placeholder: "Enter username or email" %>
  <%= f.submit "Search" %>
  <%end %> 

  <% if @users&.any? %>
   <ul>
    <% @users.each do |user| %>
     <li> 
      <%= user.username %> (<%= user.email %>)
      <% unless current_user.friendships.exists?(friend_id: user.id ) %>
         <%= link_to "Add Friend", add_friend_friendships_path(email: user.email), method: :post %>
        <% end %>
     </li>
     <% end %>
    </ul> 
      <% end %>  
