<!DOCTYPE html>
<html>
  <head>
    <title>HerringTeam4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller.controller_name %> <%= controller.action_name %> <%= 'entries__show-' + mood_group(@entry.emotion) if defined?(@entry) %>">
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
